DirectoryIndex index.php

Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?/$1 [L,QSA]


#RewriteEngine on
#
#RewriteCond $1 !^(index\.php|resources|robots\.txt)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L,QSA] 

#RewriteEngine On
#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} !^www\. [OR]
#RewriteCond %{HTTP_HOST} ^yellowvdo\.com$ [NC]
#RewriteRule ^ https://www.yellowvdo.com%{REQUEST_URI} [R=301,L,NE]
#RewriteCond %{THE_REQUEST} ^[A-Z]+\ /index\.php(/[^\ ]*)?\ HTTP/
#RewriteRule ^index\.php(/(.*))?$ yellowvdo.com/$2 [R=301,L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]

#< IfModule mod_rewrite.c > 
#RewriteEngine On 
#RewriteBase /html/ RewriteCond %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d
#
## Rewrite all other URLs to index.php/URL RewriteRule ^(.*)$ index.php?url=$1 [PT,L]
#
#< /IfModule > 
#< IfModule !mod_rewrite.c> 
#ErrorDocument 404 index.php 
#< /IfModule >